- name: {{builder.vars.name}}
  type: googlecompute
  image_name: {{builder.vars.name | clean_gcp_image_name}}-{{builder.vars.image_suffix}}
  source_image: {{builder.vars.source_image}}
  source_image_family: {{builder.vars.source_image_family}}
  ssh_username: {{builder.vars.ssh_username}}
  project_id: {{builder.vars.project_id}}
  zone: {{builder.vars.zone}}
  disk_size: {{builder.vars.volume_size}}
  machine_type: {{builder.vars.machine_type}}
  {# enable nested virtualization. It allows to run the x86 android emulator
      inside the VM with processor virtualization capabilities enabled #}
  image_licenses:
    - projects/vm-options/global/licenses/enable-vmx
  use_iap: true
