# Created by https://www.gitignore.io/api/packer,vagrant
# Edit at https://www.gitignore.io/?templates=packer,vagrant

### Packer ###
# Cache objects
packer_cache/

# Keys
*.pem

# Artifacts and outputs
packer-artifacts.json
*.tar
output-*/

### Vagrant ###
# General
.vagrant/

# For built boxes
*.box

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###

# End of https://www.gitignore.io/api/packer,vagrant
