# Created by https://www.gitignore.io/api/packer
# Edit at https://www.gitignore.io/?templates=packer

### Packer ###
# Cache objects
packer_cache/

# We generate packer.yaml
packer.yaml

# Keys
*.pem

# Artifacts and outputs
packer-artifacts.json
*.tar

### Vagrant ###

output-vagrant*

### Secrets ###
**/*secret*

# Python cache
*.pyc
*.egg-info
/.eggs

# Python Virtualenv
.venv

build
dist
