---

builders:
{% for builder in builders %}
  {% filter indent(width=2, first=False) %}
    {%- include (builder.template + ".jinja2") %}
  {%- endfilter %}
{%- endfor %}

provisioners:
  ### Linux only pre-script steps
  # certain monopacker scripts require contents of ./files
  # to be on the filesystem before running
  # wait for cloud-init before running scripts
  {%- if linux_builders %}
  # created by make tar
  - type: file
    source: ./files.tar
    destination: /tmp/
  # untar at /
  - type: shell
    # files.tar is two levels deep (/tmp/files)
    inline:
      - sudo tar xvf /tmp/files.tar -C / --strip-components=2
      - rm /tmp/files.tar
  # created by pack_secrets.py, make tar
  - type: file
    source: ./secrets.tar
    destination: /tmp/
  # untar at /
  - type: shell
    inline:
      - sudo tar xvf /tmp/secrets.tar -C /
      - sudo chown root:root -R /etc/taskcluster
      - sudo chmod 0400 -R /etc/taskcluster/secrets
      - rm /tmp/secrets.tar
    only: {{linux_builders}}
  - type: shell
    inline:
      - /usr/bin/cloud-init status --wait
    only: {{linux_builders}}
  {%- endif %}

  ### Windows only pre-script steps
  # TODO
  # open question: where should we put them?
  {%- if windows_builders %}
  {%- endif %}

  {%- for builder in builders %}
    {%- if linux_builders %}
  - type: shell
    scripts: {{builder.scripts}}
    execute_command: {{builder.vars.execute_command}}
    # we reboot the host to update the kernel
    expect_disconnect: true
    # metal is slow to reboot
    start_retry_timeout: {{builder.vars.ssh_timeout}}
    only: [{{builder.vars.name if builder.platform == 'linux'}}]
    {%- endif %}
    {%- if windows_builders %}
  - type: powershell
    scripts: {{builder.scripts}}
    only: [{{builder.vars.name if builder.platform == 'windows'}}]
    {%- endif %}
  {%- endfor %}

post-processors:
  - type: manifest
    output: packer-artifacts.json
    strip_path: true
